main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

p{
    text-align: center;
}

li{
    list-style: none;
}

.voter{
    position: absolute;
    left: 10px;
    bottom: 60px;
}